// PAGINA DE CONTACTO

@import "../variables/variables";
@import "../variables/mixins";

.textContainerContact {
  margin-left: 3rem;
  margin-top: 2.5rem;
  color: $black;
  font-family: $fuenteTextos;

  h2 {
    font-family: $fuenteTitulo;
  }

  .contactOne {
      color: $black;
  }
  .contactTwo {
      color: $black;
  }
}

.contactForm {
  font-family: $fuenteTextos;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;

  form {
    min-width: 100%;
  }

  .contactFormName {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      font-size: 0.7rem;
    }

    input {
      padding: 8px 15px;
      border: 1px solid #949494;
      background-color: #fff;
      color: #4a648e;
      max-width: 100%;
      line-height: 1.2;
      border-radius: 2px;
    }
  }

  .contactFormEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      font-size: 0.7rem;
    }

    input {
      padding: 8px 15px;
      border: 1px solid #949494;
      background-color: #fff;
      color: #4a648e;
      max-width: 100%;
      line-height: 1.2;
      border-radius: 2px;
    }
  }

  .contactFormUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    label {
      font-size: 0.7rem;
    }

    select {
      padding: 8px 15px!important;
      border: 1px solid #949494;
      background-color: #fff;
      color: #4a648e;
      max-width: 100%;
      line-height: 1.2;
      border-radius: 2px;
    }
  }

  textarea {
    padding: 8px 15px;
    border: 1px solid #949494;
    background-color: $blanco;
    color: #4a648e;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
    width: 100%;
    margin-top: 1rem;
  }

  .contactFormBtn {
    button {
      background: linear-gradient(
        90deg,
        $pastelMagenta 0%,
        $pastelMagentaOscuro 100%
      );
      border: 1px solid $pastelMagenta;
      color: $blanco;
      font-size: 1rem;
      border-radius: 10px;
      padding: 0.2rem 0.5rem;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.192);
      }
    }
  }
}
