// INICIO HOME

@import "../variables/variables";
@import "../variables/mixins";

  .collage {
    @include flex(flex, row, center);
    height: 400px;
    align-items: center;
    background-color: $black;
    clip-path: polygon(0 15%, 100% 4%, 100% 97%, 0 80%);

    .collageUmichufis {
      margin-bottom: 4.3rem;
      width: 43%;
      max-width: 500px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 70%;
      }
    }
  }

  .carouselUmichufis {
    max-width: 800px;
    margin: 0 auto;
}

  .monthFav {
    margin: 3rem 0;
    .xmasPromo {
      background-image: url(../../assets/images/PROMONAVIDAD.webp);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      @include flex(flex, row, center);
      align-items: flex-end;

      span {
        font-size: 2rem;
        color: $black;
      }
    }
  }

