// INICIO HOME

@import "../variables/variables";
@import "../variables/mixins";

  .collage {
    @include flex(flex, row, center);
    height: 500px;
    align-items: center;
    background-color: $black;
    clip-path: polygon(0 9%, 100% 4%, 100% 97%, 0 80%);

    .collageUmichufis {
      width: 43%;
      max-width: 500px;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 70%;
      }
    }
  }

  .bookUmichufis {
    @include flex(flex, row, center);
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;

    .bookImage {
        img {
            width: 100%;
        }
    }

    .bookText {
        font-family: $fuenteTextos;
        background-color: $black;
        max-width: 600px; 

        h2 {
            color: $pastelMagenta;
            font-family: $fuenteTitulo;
        }

        p {
            color: $whitesmoke;
        }
    }
  }

  .multimediaContainer {
    @include flex(flex, row, space-around);
    flex-wrap: wrap;
    margin: 2rem 0;
    
    .youtubeVideo {
        min-width: 500px;

        @media screen and (max-width: 768px) {
            min-width: 100%;
        }
    }
  }

