// TIENDA DE UMICHUFIS

@import '../variables/variables';

    .tiendaContainer{
        display: flex;
        justify-content: center;
        margin: 0 5%;
        flex-wrap: wrap;

        .itemUmichufis {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background-color: $blanco;
            width: 300px;
            border-radius: 15px;
            -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.6);
            margin: 1rem;
            padding: 0.5rem;

            img {
                width: 100%;
                transition: all 0.2s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .itemUmichufisBody {
                text-align: center;

                a {
                    margin-top: 0.5rem;
                }
            }
        }
    }
